@model WebsiteBanHang.Context.Product
@{
    ViewBag.Title = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#addtocart").click(function () {
            var model = {};
            //lấy id sản phẩm
            model.Id =@Model.Id;
            //Lấy số lượng đặt hàng
            model.Quantity = $("#ipQuantity").val();
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart","Cart")',
                data: JSON.stringify(model),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    alert("Thêm giỏ hàng thành công!")
                    $('#CartCount').text(@Session["count"]+1);

                },
                error: function () {
                    alert("Lỗi trong khi thêm vào giỏ hàng!");
                }
            });
            return false;
        });

    });
</script>

<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Tên danh mục</a></li>
            <li class="breadcrumb-item"><a href="#">Danh mục phụ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mặt hàng</li>
        </ol>
    </div>
</section>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <!-- ============================ ITEM DETAIL ======================== -->
        <div class="row">
            <aside class="col-md-6">
                <div class="card">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src="~/Content/images/items/@Model.Avatar"></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="thumbs-wrap">
                            <a href="#" class="item-thumb"> <img src="~/Content/images/items/15.jpg"></a>
                            <a href="#" class="item-thumb"> <img src="~/Content/images/items/15-1.jpg"></a>
                            <a href="#" class="item-thumb"> <img src="~/Content/images/items/15-2.jpg"></a>
                            <a href="#" class="item-thumb"> <img src="~/Content/images/items/15-1.jpg"></a>
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </div> <!-- card.// -->
            </aside>
            <main class="col-md-6">
                <article class="product-info-aside">

                    <h2 class="title mt-3">@Model.Name </h2>

                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <small class="label-rating text-muted">132 đánh giá</small>
                        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 đơn đặt hàng </small>
                    </div> <!-- rating-wrap.// -->

                    <div class="mb-3">
                        <var class="price h4">@Model.Price</var>
                        <span class="text-muted">USD 562,65 đã bao gồm thuế GTGT</span>
                    </div> <!-- price-detail-wrap .// -->

                    <p>
                        @Model.ShortDes
                    </p>


                    <dl class="row">
                        <dt class="col-sm-3">Nhà chế tạo</dt>
                        <dd class="col-sm-9"><a href="#">Great textile Ltd.</a></dd>

                        <dt class="col-sm-3">Số bài viết</dt>
                        <dd class="col-sm-9">596 065</dd>

                        <dt class="col-sm-3">Bảo đảm</dt>
                        <dd class="col-sm-9">2 năm</dd>

                        <dt class="col-sm-3">Thời gian giao hàng</dt>
                        <dd class="col-sm-9">3-4 ngày</dd>

                        <dt class="col-sm-3">Khả dụng</dt>
                        <dd class="col-sm-9">trong kho</dd>
                    </dl>

                    <div class="form-row  mt-4">
                        <div class="form-group col-md flex-grow-0">
                            <div class="input-group mb-3 input-spinner">
                                <input type="text" id="ipQuantity" class="form-control" value="1">
                            </div>
                        </div> <!-- col.// -->
                        <div class="form-group col-md">
                            <a href="#" id="addtocart" class="btn  btn-primary">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="text" h>Thêm vào giỏ hàng</span>
                            </a>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->

                </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ================ ITEM DETAIL END .// ================= -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y bg">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h5 class="title-description">Mô tả</h5>
              @Model.FullDescription
            </div> <!-- col.// -->

            <aside class="col-md-4">

                <div class="box">

                    <h5 class="title-description">Các tập tin</h5>
                    <p>
                        Điện thoại thông minh hay smartphone là khái niệm để chỉ các loại thiết bị di động kết hợp điện thoại di động các chức năng điện toán di động vào một thiết bị. 
                        Chúng được phân biệt với điện thoại phổ thông bởi khả năng phần cứng mạnh hơn và hệ điều hành di động mở rộng,
                        tạo điều kiện cho phần mềm rộng hơn, internet (bao gồm duyệt web qua băng thông rộng di động) 
                        và chức năng đa phương tiện (bao gồm âm nhạc, video, máy ảnh và chơi game), 
                        cùng với các chức năng chính của điện thoại như cuộc gọi thoại và nhắn tin văn bản.
                        Điện thoại thông minh thường chứa một số chip IC kim loại-oxit-bán dẫn (MOS), 
                        bao gồm các cảm biến khác nhau có thể được tận dụng bởi phần mềm của chúng (chẳng hạn như từ kế, cảm biến tiệm cận, 
                        phong vũ biểu, con quay hồi chuyển hoặc gia tốc kế) và hỗ trợ giao thức truyền thông không dây (chẳng hạn như Bluetooth, Wi-Fi hoặc định vị vệ tinh).
                    </p>

                    <h5 class="title-description">Video</h5>


                    <article class="media mb-3">
                        <a href="#"><img class="img-sm mr-3" src="~/Content/images/posts/@Model.Avatar"></a>
                        <div class="media-body">
                            <h6 class="mt-0"><a href="#">Làm thế nào để sử dụng mặt hàng này</a></h6>
                            <p class="mb-2"> Điện thoại thông minh ban đầu được tiếp thị chủ yếu hướng tới thị trường doanh nghiệp, cố gắng kết nối chức năng của thiết bị trợ lý kỹ thuật số cá nhân PDA độc lập với hỗ trợ điện thoại di động </p>
                        </div>
                    </article>

                    <article class="media mb-3">
                        <a href="#"><img class="img-sm mr-3" src="~/Content/images/posts/2.jpg"></a>
                        <div class="media-body">
                            <h6 class="mt-0"><a href="#">Mẹo và thủ thuật mới</a></h6>
                            <p class="mb-2"> Vào những năm 2000, nền tảng i-mode của NTT DoCoMo, BlackBerry, nền tảng Symbian của Nokia, và Windows Mobile bắt đầu giành được sức hút trên thị trường, với các mẫu máy thường có bàn phím QWERTY  </p>
                        </div>
                    </article>

                    <article class="media mb-3">
                        <a href="#"><img class="img-sm mr-3" src="~/Content/images/posts/1.jpg"></a>
                        <div class="media-body">
                            <h6 class="mt-0"><a href="#">Mẹo và thủ thuật mới</a></h6>
                            <p class="mb-2"> Sau sự phổ biến ngày càng tăng của iPhone vào cuối những năm 2000, phần lớn smartphone có kiểu dáng mỏng, </p>
                        </div>
                    </article>



                </div> <!-- box.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->

<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
<!-- ========================= FOOTER ========================= -->

<!-- ========================= FOOTER END // ========================= -->
</body>
</html>


