@model WebsiteBanHang.Models.HomeModel

@{ 
    ViewBag.Title = "Home Page";
}

<div class="container">
    <!-- ========================= SECTION MAIN  ========================= -->
    <section class="section-main padding-y">
        <main class="card">
            <div class="card-body">

                <div class="row">
                    <aside class="col-lg col-md-3 flex-lg-grow-0">
                        
                    </aside> <!-- col.// -->
                    <div class="col-md-9 col-xl-7 col-lg-7">

                        <!-- ================== COMPONENT SLIDER  BOOTSTRAP  ==================  -->
                        <div id="carousel1_indicator" class="slider-home-banner carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel1_indicator" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="1"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/Content/images/banners/banner1.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/images/banners/banner2.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/images/banners/banner3.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Trước</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Kế tiếp</span>
                            </a>
                        </div>
                        <!-- ==================  COMPONENT SLIDER BOOTSTRAP end.// ==================  .// -->

                    </div> <!-- col.// -->
                    <div class="col-md d-none d-lg-block flex-grow-1">
                        <aside class="special-home-right">
                            <h6 class="bg-blue text-center text-white mb-0 p-2">
                                Danh mục phổ biến
                            </h6>
                            @foreach (var item in Model.ListCategory.Where(n => n.ShowOnHomePage == true).Take(3))
                            {
                                <div class="card-banner border-bottom">
                                    <div class="py-3" style="width:80%">
                                        <h6 class="card-title">@item.Name</h6>
                                        <a href="@Url.Action("ProductCategory","Category", new {Id = item.Id })" class="btn btn-secondary btn-sm"> Nguồn bây giờ </a>
                                    </div>
                                    <img src="~/Content/images/category/@item.Avatar" height="80" class="img-bg">
                                </div>
                            }


                        </aside>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

            </div> <!-- card-body.// -->
        </main> <!-- card.// -->

    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    <!-- =============== SECTION DEAL =============== -->
    <section class="padding-bottom">
        <div class="card card-deal">
            <div class="col-heading content-body">
                <header class="section-heading">
                    <h3 class="section-title">Giảm giá sốc</h3>
                    <p>Khung thời gian</p>
                </header><!-- sect-heading -->
                <div class="timer">
                    <div> <span class="num">04</span> <small>Ngày</small></div>
                    <div> <span class="num">12</span> <small>Giờ</small></div>
                    <div> <span class="num">58</span> <small>Phút</small></div>
                    <div> <span class="num">02</span> <small>Giây</small></div>
                </div>
            </div> <!-- col.// -->
            <div class="row no-gutters items-wrap">
                @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 1).Take(5))
                {
                    <div class="col-md col-6">
                        <figure class="card-product-grid card-sm">
                            <a href="@Url.Action("Detail","Product", new {Id = item.Id })" class="img-wrap">
                                <img src="~/Content/images/items/@item.Avatar">
                            </a>
                            <div class="text-wrap p-3">
                                @*<a href="#" class="title">@item.Name</a>*@

                                @Html.ActionLink(item.Name, "Detail", "Product", new { Id = item.Id }, null)

                                <span class="badge badge-danger"> -20% </span>
                            </div>
                        </figure>
                    </div> <!-- col.// -->
                }

            </div>
        </div>

    </section>
    <!-- =============== SECTION DEAL // END =============== -->
    <!-- =============== SECTION 1 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">APPLE</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Xu hướng điện thoại tốt</h5>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Nguồn bây giờ</a>
                        <img src="~/Content/images/items/Điện thoại iPhone 14 Plus 512GB.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 1))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Product", new {Id = item.Id })" class="item">
                                    <div class="card-body">

                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <h class="title"><i class="fa fa-map-marker-alt"></i> @item.Name</h>
                                    </div>
                                </a>
                            </li>
                        }

                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 1 END =============== -->
    <!-- =============== SECTION 2 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Samsung</h4>
        </header>



        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Xu hướng điện thoại tốt</h5>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Nguồn bây giờ</a>
                        <img src="~/Content/images/items/Điện thoại Samsung Galaxy A14 4GB.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 2))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Product", new {Id = item.Id })" class="item">
                                    <div class="card-body">

                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <h class="title"><i class="fa fa-map-marker-alt"></i> @item.Name</h>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Laptop</h4>
        </header>



        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Xu hướng điện thoại tốt</h5>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Nguồn bây giờ</a>
                        <img src="~/Content/images/items/Máy tính Laptop Asus Vivobook 14 X1402ZA i5.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 4))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Product", new {Id = item.Id })" class="item">
                                    <div class="card-body">

                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                        <h class="title"><i class="fa fa-map-marker-alt"></i> @item.Name</h>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 2 END =============== -->
    <!-- =============== SECTION REQUEST =============== -->
    <!-- =============== SECTION REQUEST .//END =============== -->
    <!-- =============== SECTION ITEMS =============== -->
    <section class="padding-bottom-sm">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Sản phẩm được đề xuất</h4>
        </header>

        <div class="row row-sm">
            @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 2).Take(6))
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <div href="#" class="card card-sm card-product-grid">
                        <a href="@Url.Action("Detail","Product", new {Id = item.Id })" class="img-wrap"> <img src="~/Content/images/items/@item.Avatar"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">@item.Name</a>
                            <div class="price mt-1">@item.Price</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
            }
        </div> <!-- row.// -->
    </section>
    <!-- =============== SECTION ITEMS .//END =============== -->
    <!-- =============== SECTION SERVICES =============== -->
    <!-- =============== SECTION SERVICES .//END =============== -->
    <!-- =============== SECTION REGION =============== -->
    <!-- =============== SECTION REGION .//END =============== -->


</div>
<!-- container end.// -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->

<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
